.header{
    border-bottom:1px solid #dee2e6;
}
.header-container{
    position:relative;
    height:116px;
    line-height:116px;
    width: 1060px;
    margin:auto;
    padding: 0 20px;
    overflow:hidden;

}
.header-container > .logo-container{
    position:absolute;
    left:20px;
}

.logo-container > .title{
    font-size:32px;
}
.logo-container > span.sub-title{
    font-size:14px;
    font-weight:300;
    margin-left:6px;
}


.header-container > .search-container{
    position:absolute;
    right:20px;
    top : 40px;
    width:200px;
    height:40px;
    border:2px solid #343a40;
    border-radius:20px;
    box-sizing: border-box;

}
.header-container > .search-container > input{
    height:40px;
    background: none;
    display: block;
    box-sizing: border-box;
        border: none;
        font-size:18px;
}
.header-container > .search-container > input:focus {
    outline: none;
}
.header-container > .search-container > a {
    position:absolute;
    width:22px;
    height:22px;
    top:7px;
    right:10px;

}
.header-container > .search-container > a >button{
    position:absolute;
    top:0;
    right:0;
    background: url( "../../../assets/search.png" ) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
}