<!DOCTYPE html>
<html lang="en">
{% include './include/head.html' %}
<head>
  <script type="text/javascript">
    $(document).ready(function(){
        var currentTime = new Date().format("yyyy-MM-dd");
        var newsDataString = "sort=date:desc&size=9";
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:9200/news-"+currentTime+"/break/_search",
            data: newsDataString,
            dataType: "json",
            success: function(result){
                var contents ="";
                result.hits.hits.forEach(function(el,idx){

                  console.log(el);
                  if(idx==0){
                    $("#mainTitle").text(el._source.title);
                    $("#mainContents").text(el._source.contents);
                    $(".jumbotron").css({"background":"url("+el._source.profile+")"});

                    var positive = el._source.positive;
                    el._source.company.forEach(function(ell,idx){
                      var updown = positive>0?"up":"down";
                      var style = updown=="up"?"color:#ff0000;border: 1px solid #ff0000;":"color:#0000ff;border: 1px solid #0000ff;";

                      var contents = 
                        '<div class="companies" style="'+style+'">'+
                          '<img src="/static/images/'+updown+'-arrow.png"/> <span>'+ell.name+'</span>'+
                        '</div>';
                      
                      $(".main > .contents-container > .right").append(contents);
                    })
                  }else{
                    if(idx%2==1){
                      console.log(11111)
                      var feed = document.getElementById("feed");
                      var newDiv = document.createElement("div"); 
                      newDiv.classList.add('row','text-center','feedRow');

                      feed.appendChild(newDiv);
                    }
                    var contents = 
                      '<div class="col-lg-6 col-md-12 mb-12">'+
                      ' <div class="card h-100">'+
                      '   <div class="card-img-top" style="background-image:url('+el._source.profile+')" alt=""></div>'+
                      '   <div class="card-body">'+
                      '     <h4 class="card-title">'+el._source.title+'</h4>'+
                      '     <p class="card-text">'+el._source.contents+'</p>'+
                      '   </div>'+
                      '   <div class="card-footer">'+
                      '     <a href="#" class="btn btn-primary">Find Out More!</a>'+
                      '   </div>'+
                      ' </div>'+
                      '</div>';
                      $(".feedRow:last").append(contents);
                    }
                    
                });
                $("#breakNews").html(contents);


            },
            error: function(request, status, error){
            },
        });
    });
</script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">BSN Breaking Stock News</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron main">
      <div class="background">
      </div>
      <div class="contents-container">
        <div class="left">
          <h1 id="mainTitle" class="display-3">title</h1>
          <p id="mainContents" class="lead"></p>
          <a href="#" class="btn btn-primary btn-lg">뉴스보기</a>
        </div>

        <div class="right">
        </div>
      </div>
    </header>

    <!-- Page Features -->
    <div id="feed">
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
