{% include './include/head.html' %}
<head>
    <script type="text/javascript">
        $(document).ready(function(){
            var currentTime = new Date().format("yyyy-MM-dd");
            var newsDataString = "sort=date:desc&size=10";
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:9200/news-"+currentTime+"/break/_search",
                data: newsDataString,
                dataType: "json",
                success: function(result){
                    var contents ="";
                    result.hits.hits.forEach(function(el,idx){
                        console.log(el);
                        el.title
                        contents += "<p>"+el._source.title+"</p>"+
                                    "<p>"+el._source.contents+"</p>";
                    });
                    $("#breakNews").html(contents);


                },
                error: function(request, status, error){
                },
            });
        });
    </script>
</head>
<body>
<section class="mainHeaderContainer">
    <div class="staticContainer">
        <div class="logo">
            BSN
        </div>
        <div class="searchContainer">
			<input id="search"class="search" placeholder="키워드를 입력하세요."/>
			<button id="searchPlaceButton" class="searchButton"></button>
		</div>

    </div>
</section>
<div id="breakNews"></div>
</body>