.header{
    height:80px;
    line-height:80px;
    border-bottom:1px solid #999;
}
.header-container{
    width: 1080px;
    margin:auto;
    padding: 0 10px;
}
.header-container > .title{
    font-size:30px;
}
.header-contianer > .sub-title{
    font-size:20px;
}