
.search-container{
    width: 1080px;
    margin:auto;
    padding: 0 10px;
}
.search-container > p{
    margin : 20px 0 0 0;
    font-weight: bold;
}
.search-container > p > span{
    font-weight: bold;
}
/* comapnyComponent CSS */
.company-container{
    position:relative;
    width:100%;

    background-color:#fff;
    border-radius: 2px;
    box-shadow: 0 2px 1px 0 #dee2e6;
    border: solid 1px #ced4da;
    overflow:hidden;
    margin-top:10px;
}
.company-container > .contents-background{
    padding:0;
    color:#495057;
}
.company-left{
    box-sizing: border-box;
    float:left;
    width:45%;
    border-right:1px solid #f1f3f5;
}
.company-left > .company-top{
   padding:15px 28px;
   border-bottom: solid 1px #f1f3f5;
}
.company-left > .company-top > .row{
    margin-top : 5px;
   overflow:hidden;
}
.company-left > .company-top > .row > .title{
    float:left;  
    font-size: 22px;
    font-weight:bold;
    color: #495057;
}
.company-left > .company-top > .row > .title > .code{
    margin-left:8px;
    font-size: 18px;
    color: #adb5bd;
}
.company-left > .company-top > .row > .date{
    float:right;
    font-size:12px;
    color:#adb5bd;

}
.company-left > .company-top > .row > .current {
    font-size:20px;
    font-weight:bold;
}
.company-left > .company-top > .row > .current > .change{
    font-size:14px;
}
.company-left > .company-bottom{
   padding:23px 28px;
}
.company-left > .company-bottom > .row {
    overflow:hidden;
}
.company-left > .company-bottom > .row:nth-child(2) {
    margin-top:28px;
}
.company-left > .company-bottom > .row > .detail_info{
    float:left;
    width:32%;
    box-sizing: border-box;
    font-weight:bold;
}
.company-left > .company-bottom > .row > .detail_info:nth-child(3n+2){
    margin:0 2%;
}
.company-left > .company-bottom > .row > .detail_info > .title{
    font-size:15px;
    color: #adb5bd;
}
.company-left > .company-bottom > .row > .detail_info > .contents{
    font-size:16px;
    color: #495057;
}


.company-right{
    box-sizing: border-box;
    float:left;
    width:55%;
}




.company-bottom > .companies> .card{
    height:130px;
    width:130px;
    border: 1px solid #ff0000;
    padding:10px;
    border-radius: 5px;
    float:left;
    text-align:center;
}

.company-bottom > .companies> .card > .title{
    font-size:16px;

}
.company-bottom > .companies> .card > .title >.company-id{
    font-size:12px;
}
.company-bottom > .companies> .card > .info{
    margin: 15px 0;
    font-size:14px;
}
